<!-- Nav tabs -->





<!-- <button type="button" class="btn btn-primary position-relative">
    Cart
    <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
      0
      <span class="visually-hidden">Items</span>
    </span>
  </button> -->



<!-- Image and text -->
<nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="#">
      <!-- <img src="/docs/4.6/assets/brand/bootstrap-solid.svg" width="30" height="30" class="d-inline-block align-top" alt="">
      Bootstrap -->

      <ul class="nav nav-tabs" id="navId">
        <li class="nav-item">
            <a href="#tab1Id" class="nav-link active">Bosele.watch store</a>
        </li>

        <ul>
            <form class="form-inline">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" >Search</button>
      </form>
        </ul>
        
    </ul>
    
    </a>

     
        
        
      

    <button type="button" class="btn btn-primary position-relative">
        Cart
        <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
          0
          <span class="visually-hidden">Items</span>
        </span>
      </button>

      <!-- check -->

      


  </nav>

<!-- <script>
    $('#navId a').click(e => {
        e.preventDefault();
        $(this).tab('show');
    });
</script> -->