<p>card works!</p>


<div class="row row-cols-1 row-cols-md-4 g-4" style="padding:14px">
<div class="col">
    <div class="card" >
        <img src="../assets/image7.jpg" style="width:300px;height:350px" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Black smael metal</h5>
          <p class="card-text">R3500</p>
          <p class="card-text"><small class="text-body-secondary">Boss.watch store</small></p>
          <button>
            view
          </button>
        </div>
    </div>
     </div>

    <div class="col">
    <div class="card" >
        <img src="../assets/image8.jpg" style="width:300px;height:350px" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">rolex silver waterproof</h5>
          <p class="card-text">R500 000</p>
          <p class="card-text"><small class="text-body-secondary">Boss.watch store</small></p>
          <button>
            view
          </button>
        </div>
    </div>
    </div>

    <div class="col">
    <div class="card" >
        <img src="../assets/image9.jpg" style="width:300px;height:350px" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Grey black unisex</h5>
          <p class="card-text">R3500</p>
          <p class="card-text"><small class="text-body-secondary">Boss.watch store</small></p>
          <button>
            view
          </button>
        </div>
      </div>
    </div>


    <div class="col">
        <div class="card" >
            <img src="../assets/image1.jpg" style="width:300px;height:350px" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title">Tempo black</h5>
              <p class="card-text">R2000</p>
              <p class="card-text"><small class="text-body-secondary">Boss.watch store</small></p>
              <button>
                view
              </button>
            </div>
          </div>
        </div>

        <div class="col">
            <div class="card" >
                <img src="../assets/image2.jpg" style="width:300px;height:350px" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Tempo Blue</h5>
                  <p class="card-text">R3000</p>
                  <p class="card-text"><small class="text-body-secondary">Boss.watch store</small></p>
                  <button>
                    view
                  </button>
                </div>
              </div>
            </div>

            <div class="col">
                <div class="card" >
                    <img src="../assets/image3.jpg" style="width:300px;height:350px" class="card-img-top" alt="...">
                    <div class="card-body">
                      <h5 class="card-title">Tempo and a special pocket knife <i class="fa fa-android" aria-hidden="true"></i></h5>
                      <p class="card-text">R4500</p>
                      <p class="card-text"><small class="text-body-secondary">Boss.watch store</small></p>
                      <button>
                        view
                      </button>
                    </div>
                  </div>
                </div>

                <div class="col">
                    <div class="card" >
                        <img src="../assets/image4.jpg" style="width:300px;height:350px" class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">rolex Tone Blue</h5>
                          <p class="card-text">R150 000</p>
                          <p class="card-text"><small class="text-body-secondary">Boss.watch store</small></p>
                          <button>
                            view
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="col">
                        <div class="card" >
                            <img src="../assets/image5.jpg" style="width:300px;height:350px" class="card-img-top" alt="...">
                            <div class="card-body">
                              <h5 class="card-title">rolex silver submarine</h5>
                              <p class="card-text">R450 000</p>
                              <p class="card-text"><small class="text-body-secondary">Boss.watch store</small></p>
                              <button>
                                view
                              </button>
                            </div>
                          </div>
                        </div>
    
       <div class="col">
      <div class="card" >
        <img src="../assets/image6.jpg" style="width:300px;height:350px" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">Timberland watch</h5>
          <p class="card-text">R15000</p>
          <p class="card-text"><small class="text-body-secondary">Boss.watch store</small></p>
          <button>
            view
          </button>
        </div>
      </div>
    </div> 
    
  </div>
